<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="content">
        <h2>Encontrou um produto com preço legal?</h2>
        <button class="btn btn-blue register-price-btn">Registre um preço!</button>
        <div class="divider"></div>
        <div class="table-header">
            <div class="header-cell">ESTABELECIMENTO</div>
            <div class="header-cell">PRODUTO</div>
            <div class="header-cell">PREÇO</div>
            <div class="header-cell"></div>
        </div>
        <div class="table-row">
            <div class="table-cell">VERAN</div>
            <div class="table-cell">BATATA</div>
            <div class="table-cell">R$ 12</div>
            <div class="table-cell">
                <button class="location-btn">Ver Localização</button>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell">NAGUMO</div>
            <div class="table-cell">FEIJÃO</div>
            <div class="table-cell">R$ 40</div>
            <div class="table-cell">
                <button class="location-btn">Ver Localização</button>
            </div>
        </div>
        <div class="table-row">
            <div class="table-cell">SHIBATA</div>
            <div class="table-cell">CENOURA</div>
            <div class="table-cell">R$ 20</div>
            <div class="table-cell">
                <button class="location-btn">Ver Localização</button>
            </div>
        </div>      
    </div>
</html>