<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fast Price - Comparação de Preços</title>
        <link rel="stylesheet" href="/css/style2.css">
    </head>
    <body>
        <div class="container">
            <div th:replace="~{fragments/header :: header}"></div>
            <div class="main-content">
                <div th:replace="~{home :: content}"></div>
            </div>
        </div>
    </body>
</html>