<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="header">
        <img src="imgs/FASTPRICELOGO.png" alt="Fast Price Logo" class="logo">           
        <div class="search-container">
            <img src="imgs/search.png" alt="Buscar" class="search-icon" width="20">
            <input type="text" class="search-input" placeholder="Pesquise por um item ou supermercado...">
        </div>
        <div class="auth-container">
            <div th:if="${#authorization.expression('isAnonymous')}">
                <a th:href="@{/login}" class="btn btn-primary">Entrar</a>
                <a th:href="@{/cadastrar}" class="create-account">Criar uma conta</a>
            </div>
            <div th:if="${#authorization.expression('isAuthenticated')}">
                <a th:href="@{/usuarios}" class="btn btn-primary">Painel de Usuários</a>
                <a th:href="@{/logout}" class="btn btn-primary">Logout</a>
            </div>
        </div>
    </header>
</html>
